.single-todo{
    /* Frame 2 */
    display: flex;
    padding: 20px;
    margin: 10px;
    align-items: flex-start;
    position: relative;
    width: 231px;
    height: 16px;
    background: #DF7C7C;
    border-radius: 9px;
}
.todos{
    background: dimgrey;
}
.text-todo{
    align-content: flex-start;
    text-align: left;

}